
  .Wrap{
    padding: 10px, 10px,  10px, 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1rem;
  }
  
  .Header{
    color: #FFF;
  text-shadow: 0px 4px 4px rgba(10, 10, 10, 0.25);
  }
  /* .Container {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  width: 100%;
  
  display: flex; 
  justify-content: center;
  position: fixed;
  align-items: center;
  flex-wrap: wrap;
  
  } */
  
  .Button {
  font-size: 1.5rem;
  background: #220d0d;
  border: none;
  padding: 0.8rem 3rem;
  color: #fff;
  border-radius: 0.75rem;
  box-shadow: 0px 13px 24px -7px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;
  margin-left: 0rem;
  cursor: pointer;
  /* &:hover {
    transform: scale(1.1);
  } */
  /* &:
  @media (max-width: 670px) {
    width: 100%;
    padding: 0.3;
  } */
  }
  .Button:hover {
    transform: scale(1.1);
  }
  
  
  .Pic {
    position:relative;
    overflow: hidden;
  }
  .Pic img{
    width: 50vw; 
    max-width: 500px;
    margin: 1rem;
  }
  .Pic:hover img{
    transform: scale(1.01);
    filter: blur(5px)
    }
  .Pic p{
    position: absolute;
    inset:0;
    background: rgba(209, 190, 190, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    text-align: center;
    font-size: 2rem;
  }
  .Pic img,p {
    transition: 300ms ease-in-out;
  }
  .Pic:hover p{
    opacity: 1;
  }
 
  @media screen and (max-width: 960px) {
  
    .Pic p {
      font-size: 1.5rem;
    }
  }