/* .Wrapper{
    padding: 10rem 10rem 10rem 10rem;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(10, 10, 10, 0.25);
    display: flex; 
    justify-content: center;
    position: fixed;
    align-items: center;
    flex-wrap: wrap;
}

.Header {
    padding: 2rem 4rem 4rem 4rem;
    font-size: 3rem;
}
.BodyText {
    padding: 1rem 2rem 1rem 2rem;
    font-size: 1.5rem;
    text-align: center;
}
.BodyText2 {
    padding: 3rem 5rem 5rem 5rem;
    font-size: 1.5rem;
    text-align: center;
}

/* .Container {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  width: 100%;
  
  display: flex; 
  justify-content: center;
  position: fixed;
  align-items: center;
  flex-wrap: wrap;
  
} */

/* .Button {
  font-size: 1.5rem;
  background: #220d0d;
  border: none;
  padding: 0.8rem 3rem;
  color: #fff;
  border-radius: 0.75rem;
  box-shadow: 0px 13px 24px -7px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;
  margin-left: 0rem;
  cursor: pointer; 
} 
.Button:hover {
    transform: scale(1.1);
}
 */
